.About_main {
  margin-top: 7rem;
  overflow-x: hidden;
  overflow: hidden;

  .about_home {
    background: url("../assets/bg/Dot-blob-texture-04.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about_lettering {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-bottom: 10rem;

      .about_header {
        h1 {
          font-size: 4rem;
          font-family: salsa;
          letter-spacing: 1px;
          padding-bottom: 5rem;
          text-transform: uppercase;
        }
      }

      .about_sub {
        p {
          font-size: 1.8rem;
          font-family: ubuntu-medium;
          letter-spacing: 1px;
          padding-bottom: 3.3rem;
        }
      }

      .about_link {
        p {
          a {
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            background-color: lightblue;
            padding: 15px;
            border-radius: 7px;
            font-family: fira-black;
          }
        }
      }
    }

    .about_column {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
      gap: 7rem;

      .content {
        p {
          font-size: 1.5rem;
          letter-spacing: 1px;
          font-family: poppins-black;
          background-color: rgb(226, 239, 243);
          padding: 12px;
          border-radius: 5px;
        }
      }
    }
  }

  .about_words {
    background: url("../assets/bg/Dip-banner-grey-03.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .about_lettering {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 90%;

      .about_head {
        line-height: 50px;
        h1 {
          font-size: 3rem;
          letter-spacing: 1px;
          text-align: center;
          font-family: salsa;
          span {
            font-size: 3rem;
            color: lightblue;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
              sans-serif;
            letter-spacing: 1px;
          }
        }
      }

      .about_sub {
        p {
          font-size: 1.5rem;

          letter-spacing: 1px;
          line-height: 30px;
          font-family: ubuntu-medium;
          text-align: center;
        }
      }
    }

    .about_img {
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }

  .about_mission {
    background: url("../assets/bg/Wave-grey-banner-top.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about_lettering {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 90%;
      padding-bottom: 3rem;

      .about_head {
        line-height: 50px;
        h1 {
          font-size: 3rem;
          letter-spacing: 1px;
          text-align: center;
          font-family: salsa;
          span {
            font-size: 3rem;
            color: lightblue;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
              sans-serif;
            letter-spacing: 1px;
          }
        }
      }
    }

    .about_cores {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.3rem;

      .cores_content {
        display: flex;
        align-items: center;
        justify-content: center;

        .core_img {
          img {
            width: 110%;
          }
        }

        .core_lettering {
          display: flex;
          flex-direction: column;
          align-items: center;
          h1 {
            text-align: center;
            font-size: 2rem;
            font-family: fira-black;
            letter-spacing: 1px;
            padding-bottom: 1rem;
          }

          p {
            font-size: 1.7rem;
            line-height: 30px;
            font-family: ubuntu-medium;
            letter-spacing: 1px;
            padding-bottom: 1rem;
            text-align: center;

            span {
              font-family: poppins-black;
            }
          }

          ul {
            li {
              list-style: none;
              p {
                font-size: 1.7rem;
                line-height: 30px;
                font-family: ubuntu-medium;
                letter-spacing: 1px;
                padding-bottom: 1rem;
                text-align: center;

                span {
                  font-family: poppins-black;
                }
              }
            }
          }
        }
      }
    }
  }

  .about_md {
    background: url("../assets/bg/Navy-deep-wave-banner-02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .md_word {
      background-color: white;
      width: 80%;
      border-radius: 7px;
      p {
        font-size: 1.7rem;
        padding: 2rem;
        line-height: 2.7rem;
        text-align: center;
        font-family: ubuntu-medium;
      }
    }

    .md_position {
      h3 {
        padding-top: 2rem;
        font-size: 2rem;
        color: white;
        font-family: poppins-black;
      }
    }
  }

  .service_ready {
    background: url("../assets/bg/Navy-wave-banner-bottom-02.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 9rem;

    .ready_main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 15rem;

      .ready_lettering {
        h1 {
          font-size: 3.3rem;
          font-family: poppins-black;
          padding-bottom: 2rem;
        }
      }

      .ready_link {
        p {
          padding-top: 2rem;
          a {
            text-decoration: none;
            font-size: 1.7rem;
            color: black;
            background-color: lightblue;
            padding: 1.5rem;
            border-radius: 6px;
            font-family: ubuntu-medium;
          }
        }
      }
    }
  }

  @media (min-width: 1440px) {
    margin-top: 7rem;

    .about_home {
      background: url("../assets/bg/Dot-blob-texture-04.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 20rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .about_lettering {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 10rem;

        .about_header {
          h1 {
            font-size: 8rem;
            font-family: salsa;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding-bottom: 5rem;
          }
        }

        .about_sub {
          p {
            font-size: 3rem;
            font-family: ubuntu-medium;
            letter-spacing: 1px;
            padding-bottom: 3.3rem;
          }
        }

        .about_link {
          p {
            a {
              text-decoration: none;
              color: black;
              font-family: ubuntu-medium;
              font-size: 3rem;
              background-color: lightblue;
              padding: 20px;
              border-radius: 7px;
            }
          }
        }
      }

      .about_column {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        gap: 7rem;

        .content {
          p {
            font-size: 3rem;
            letter-spacing: 2px;
            font-family: fira-black;
            background-color: rgb(226, 239, 243);
            padding: 20px;
            border-radius: 9px;
          }
        }
      }
    }

    .about_words {
      background: url("../assets/bg/Dip-banner-grey-03.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 10rem;
      padding-left: 30rem;
      padding-right: 30rem;
      padding-bottom: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .about_lettering {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 90%;

        .about_head {
          line-height: 50px;
          h1 {
            font-size: 4rem;
            letter-spacing: 1px;
            text-align: center;
            font-family: salsa;
            span {
              font-size: 4rem;
              color: lightblue;
              font-family: salsa;
              letter-spacing: 1px;
            }
          }
        }

        .about_sub {
          p {
            font-size: 2.5rem;
            letter-spacing: 1px;
            line-height: 3rem;
            font-family: ubuntu-medium;
            text-align: center;
          }
        }
      }

      .about_img {
        img {
          object-fit: contain;
          width: 120%;
        }
      }
    }

    .about_mission {
      background: url("../assets/bg/Wave-grey-banner-top.jpg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 15rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .about_lettering {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 90%;
        padding-bottom: 3rem;

        .about_head {
          line-height: 50px;
          h1 {
            font-size: 4rem;
            letter-spacing: 1px;
            text-align: center;
            font-family: salsa;
            span {
              font-size: 3rem;
              color: lightblue;
              font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
                sans-serif;
              letter-spacing: 1px;
            }
          }
        }
      }

      .about_cores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.3rem;

        .cores_content {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2rem;

          .core_lettering {
            h1 {
              text-align: center;
              font-size: 3rem;
              font-family: fira-black;
              letter-spacing: 1px;
              padding-bottom: 2rem;
            }

            p {
              font-size: 2.8rem;
              line-height: 40px;
              font-family: ubuntu-medium;
              letter-spacing: 1px;
              padding-bottom: 1rem;
              text-align: center;

              span {
                font-family: poppins-black;
              }
            }

            ul {
              li {
                list-style: none;
                display: flex;
                flex-direction: column;
                p {
                  font-size: 2.8rem;
                  line-height: 40px;
                  font-family: ubuntu-medium;
                  letter-spacing: 1px;
                  padding-bottom: 1rem;
                  text-align: center;

                  span {
                    font-family: poppins-black;
                  }
                }
              }
            }
          }
        }
      }
    }

    .about_md {
      background: url("../assets/bg/Navy-deep-wave-banner-02.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 9rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .md_word {
        background-color: white;
        width: 50%;
        p {
          font-size: 2.5rem;
          padding: 3rem;
          line-height: 2.7rem;
          font-family: poppins-medium;
          text-align: center;
        }
      }

      .md_position {
        h3 {
          padding-top: 2rem;
          letter-spacing: 2px;
          font-size: 3rem;
          color: white;
          font-family: poppins-black;
        }
      }
    }

    .service_ready {
      background: url("../assets/bg/Navy-wave-banner-bottom-02.jpg");
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 9rem;

      .ready_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 15rem;

        .ready_lettering {
          h1 {
            font-size: 5rem;
            font-family: fira-black;
            padding-bottom: 2rem;
          }
        }

        .ready_link {
          p {
            padding-top: 2rem;
            a {
              text-decoration: none;
              font-size: 2.7rem;
              color: black;
              background-color: lightblue;
              padding: 2rem;
              border-radius: 9px;
              font-family: ubuntu-medium;
            }
          }
        }
      }
    }
  }

  @media (max-width: 430px) {
    margin-top: 7rem;
    overflow-x: hidden;

    .about_home {
      background: url("../assets/bg/Dot-blob-texture-04.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .about_lettering {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 10rem;

        .about_header {
          h1 {
            font-size: 2rem;
            font-family: salsa;
            letter-spacing: 1px;
            padding-bottom: 5rem;
            text-transform: uppercase;
          }
        }

        .about_sub {
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            font-size: 1rem;
            font-family: ubuntu-medium;
            letter-spacing: 1px;
            padding-bottom: 3.3rem;
            width: 80%;
          }
        }

        .about_link {
          p {
            a {
              text-decoration: none;
              color: black;
              font-size: 0.6rem;
              background-color: lightblue;
              padding: 5px;
              border-radius: 7px;
              font-family: fira-black;
            }
          }
        }
      }

      .about_column {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        gap: 1rem;

        .content {
          p {
            font-size: 0.9rem;
            letter-spacing: 1px;
            font-family: poppins-black;
            background-color: rgb(226, 239, 243);
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
    }

    .about_words {
      background: url("../assets/bg/Dip-banner-grey-03.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 10rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .about_lettering {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        text-align: center;

        .about_head {
          line-height: 50px;
          h1 {
            font-size: 1.5rem;
            letter-spacing: 1px;
            text-align: center;
            font-family: salsa;
            span {
              font-size: 3rem;
              color: lightblue;
              font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
                sans-serif;
              letter-spacing: 1px;
            }
          }
        }

        .about_sub {
          display: flex;
          justify-content: center;
          text-align: center;

          p {
            font-size: 1rem;
            letter-spacing: 1px;
            line-height: 15px;
            font-family: ubuntu-medium;
            text-align: center;
          }
        }
      }
    }

    .about_mission {
      background: url("../assets/bg/Wave-grey-banner-top.jpg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 15rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .about_lettering {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 90%;
        padding-bottom: 3rem;
        text-align: center;

        .about_head {
          line-height: 50px;
          h1 {
            font-size: 1.4rem;
            letter-spacing: 1px;
            text-align: center;
            font-family: salsa;
            span {
              font-size: 3rem;
              color: lightblue;
              font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
                sans-serif;
              letter-spacing: 1px;
            }
          }
        }
      }

      .about_cores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.3rem;

        .cores_content {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;
          gap: 1.5rem;

          .core_img {
            img {
              width: 60%;
            }
          }

          .core_lettering {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h1 {
              text-align: center;
              font-size: 1rem;
              font-family: fira-black;
              letter-spacing: 1px;
              padding-bottom: 1rem;
            }

            p {
              width: 60%;
              font-size: 0.9rem;
              line-height: 15px;
              font-family: ubuntu-medium;
              letter-spacing: 1px;
              padding-bottom: 1rem;
              text-align: center;

              span {
                font-family: poppins-black;
              }
            }

            ul {
              text-align: center;
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 80%;

              li {
                list-style: none;
                text-align: center;
                align-items: center;
                display: flex;
                justify-content: center;
                p {
                  width: 60%;
                  font-size: 1rem;
                  line-height: 15px;
                  font-family: ubuntu-medium;
                  letter-spacing: 1px;
                  padding-bottom: 1rem;
                  text-align: center;
                  span {
                    font-family: poppins-black;
                  }
                }
              }
            }
          }
        }
      }
    }

    .about_md {
      background: url("../assets/bg/Navy-deep-wave-banner-02.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 2rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .md_word {
        background-color: white;
        width: 90%;
        border-radius: 7px;
        p {
          font-size: 0.9rem;
          padding: 0.5rem;
          line-height: 1.2rem;
          text-align: center;
          font-family: ubuntu-medium;
        }
      }

      .md_position {
        h3 {
          padding-top: 2rem;
          font-size: 1rem;
          color: white;
          font-family: poppins-black;
        }
      }
    }

    .service_ready {
      background: url("../assets/bg/Navy-wave-banner-bottom-02.jpg");
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 2rem;
      padding-bottom: 10rem;

      .ready_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 15rem;

        .ready_lettering {
          h1 {
            font-size: 1.2rem;
            font-family: poppins-black;
            padding-bottom: 2rem;
          }
        }

        .ready_link {
          p {
            padding-top: 2rem;
            a {
              text-decoration: none;
              font-size: 1rem;
              color: black;
              background-color: lightblue;
              padding: 0.5rem;
              border-radius: 6px;
              font-family: ubuntu-medium;
            }
          }
        }
      }
    }
  }
}
