footer {
  background-color: #000000ff;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  display: flex;
  justify-content: center;
  gap: 3px;
  align-items: center;

  .head_text {
    color: red;
    font-family: salsa;
    font-size: 1.8rem;
  }
}

#sub_text {
  font-size: 1.3rem;
  font-family: salsa;
  margin-left: 1.8rem;
}

.social {
  display: flex;
  margin-top: 2rem;
  margin-left: 2.8rem;
  gap: 20px;

  p {
    font-size: 2rem;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 17px;

  p {
    display: flex;
    gap: 10px;
    font-size: 1.7rem;
    font-family: ubuntu-medium;
  }
}

.links_serve {
  font-size: 1.7rem;
}

.col {
  min-width: 300px;
  color: #f2f2f2f2;
  font-family: salsa;
  padding: 0 2rem;
}
.col .logo {
  width: 100px;
  margin-bottom: 25px;
}
.col h3 {
  color: #ff014fff;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.col h3::after {
  content: "";
  height: 3px;
  width: 0px;
  background-color: #ff014fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
}
.col h3:hover::after {
  width: 30px;
}
.col .social a i {
  color: #ff014fff;

  margin-top: 2rem;
  margin-right: 5px;
  transition: 0.3s ease;
}
.col .social a i:hover {
  transform: scale(1.5);
  filter: grayscale(25);
}
.col .links a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}
.col .links a::before {
  content: "";
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: #ff014fff;
  transition: 0.5s ease;
  opacity: 0;
}
.col .links a:hover::before {
  opacity: 1;
}
.col .links a:hover {
  transform: translateX(-8px);
  color: #ff014fff;
}
.col .contact-details {
  display: inline-flex;
  justify-content: space-between;
}
.col .contact-details i {
  margin-right: 15px;
}
.row .form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.row .form input {
  background-color: #1a1c20ff;
  border: 0;
  outline: none;
  padding: 14px 20px;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form button {
  padding: 14px 20px;
  border: 0;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ff014fff;
}

/********** Responsive Design ********/
@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}
@media (max-width: 510px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}

.footer_logo {
  width: 60px;
  margin-bottom: 1rem;
}

.sub_text {
  font-size: 140px;
  margin-left: 30px;
  font-weight: 600;
}

@media (max-width: 430px) {
  .col .links a {
    display: block;
    text-decoration: none;
    color: #f2f2f2;
    margin-bottom: 5px;
    font-size: 0.8rem;
    position: relative;
    transition: 0.3s ease;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 17px;

    p {
      display: flex;
      gap: 10px;
      font-size: 0.8rem;
      font-family: ubuntu-medium;
    }
  }

  .head {
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;

    .head_text {
      color: red;
      font-family: salsa;
      font-size: 1.2rem;
    }
  }

  #sub_text {
    font-size: 0.9rem;
    font-family: salsa;

    text-align: center;
  }

  .social {
    display: flex;
    margin-top: 2rem;
    margin-left: 2.8rem;
    gap: 20px;
    text-align: center;
    justify-content: center;

    p {
      font-size: 1.3rem;
    }
  }
}
