@font-face {
  font-family: fira-black;
  src: url(./Font/FiraSans-BlackItalic.ttf);
}

@font-face {
  font-family: fira-regular;
  src: url(./Font/FiraSans-Regular.ttf);
}

@font-face {
  font-family: poppins-black;
  src: url(./Font/Poppins-BlackItalic.ttf);
}

@font-face {
  font-family: poppins-medium;
  src: url(./Font/Poppins-MediumItalic.ttf);
}

@font-face {
  font-family: salsa;
  src: url(./Font/Salsa-Regular.ttf);
}

@font-face {
  font-family: ubuntu-medium;
  src: url(./Font/Ubuntu-Medium.ttf);
}
